html,
body {
  max-width: 100%;
  /* overflow-x: hidden; */
}

/* header */
.bannerContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/ayo-ogunseinde.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 40rem;
}

.message {
  padding: 20rem 5rem;
  color: white;
  align-items: center;
  justify-content: center;
}

.message2 {
  padding: 10rem 5rem;
  color: #4788c7;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: absolute;
  z-index: 1;
}

.nav-link {
  color: white !important;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.navbar a img {
  width: 160px;
  height: 80px;
}

.navbar ul {
  margin-left: 50%;
}

.navbar .nav-item .dropdown-menu {
  display: none;
}
.navbar .nav-item:hover .dropdown-menu {
  display: block;
}
.dropdown-menu a:hover {
  background-color: rgb(240, 240, 240);
  text-decoration: underline orange;
  transition: 0.2s ease-in;
}

.navbar-nav > li {
  padding-left: 30px;
}

.active > a {
  color: white !important;
  font-weight: 900;
}

a.nav-link:hover {
  color: white !important;
  text-decoration: underline orange;
  transition: 0.2s ease-in;
}

/* end of header */

/* Section */
.col-md-4,
.col-md-6 {
  margin-top: 80px;
}

.col-md-6 > p {
  font-size: 1.2rem;
}

.col-md-1,
.col-md-8 {
  margin-bottom: 40px;
}

.address {
  margin-top: 20px;
}

.fa-map-marker-alt,
.fa-phone,
.fa-envelope {
  color: #4788c7;
  font-size: 25px;
  padding-top: 10px;
}

.body {
  padding-top: 50px;
}

.body > p {
  font-size: 1.1rem;
}

.body1 {
  padding-top: 150px;
}

.body2 {
  padding-top: 200px;
}
section {
  width: 100%;
}

.circle {
  font-size: 7rem;
}
.col-md-4 .body {
  padding-top: 0;
}
.col-md-4 .circle {
  padding-top: 25%;
}

#layer1 {
  margin-top: -7%;
  z-index: 1;
  position: relative;
}

.page {
  background-color: rgb(221, 218, 218);
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label {
  font-weight: 600;
}
.contact-form button {
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus {
  box-shadow: none;
}

footer {
  color: #fff;
  background-color: #7ba7e9;
  margin-top: 2rem;
  height: 15rem;
}
.footer-all {
  background-color: #7ba7e9;
}

footer a {
  color: white;
}
.footer-row {
  padding-left: 5rem;
}
.footer-col-1,
.footer-col-2,
.footer-col-3 {
  text-align: left;
  padding-bottom: 0;
  margin-bottom: 0;
}

footer a:hover {
  color: #343a40;
  text-decoration: underline;
}
.social {
  text-align: left;
  margin-left: 4rem;
  margin-bottom: 0;
}
.footer-copyright {
  padding-bottom: 0;
  margin-bottom: 0;
}
footer .fab {
  font-size: 20px;
  padding: 20px;
}
footer .fab:hover {
  color: #343a40;
}
/* end of section */

@media screen and (max-width: 768px) {
  .body {
    padding-top: 50px;
  }

  .body1 {
    padding-top: 0;
  }

  .body2 {
    padding-top: 0;
  }
  .col-md-6 {
    margin: 0;
  }
  .row {
    margin-top: 50px;
  }
  .icons {
    margin-top: 90%;
    width: 80%;
  }

  form {
    width: 100%;
  }
  .values > .col-md-4 {
    display: block;
    margin-top: 0;
  }
}
