/* side nav */

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #7ba7e9;
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidenav::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidenav {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sidenav img {
  width: 160px;
  height: 80px;
  margin-bottom: 5rem;
}

.sidenav ul {
  list-style: none;
  line-height: 3rem;
  padding-left: 30px;
}

li a {
  color: white;
  text-decoration: none;
}

.user {
  margin-top: 3rem;
}

.circle {
  background-color: rgb(146, 150, 163);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
}

.dropdown-toggle {
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.menu {
  display: none;
}

.user:hover .menu {
  display: block;
}

/* side nav */

/* Hamburger  Animation */

.mytoggler .line1,
.mytoggler .line2,
.mytoggler .line3 {
  background-color: #fff;
  width: 25px;
  height: 2px;
  margin: 5px 10px;
  display: none;
  cursor: pointer;
}
/* End of Hamburger Animation  */

/* Main */

.main {
  height: 100%;
  top: 0;
  margin: 0 auto;
  padding-top: 20px;
  float: right;
}

.jumbotron h1 {
  color: #4788c7;
}

.jumbo-img img {
  width: 20rem;
}

.jumbo-img {
  margin-top: -10rem;
}
/* delivery form */
.delivery {
  background-color: rgb(240, 238, 238);
  height: auto;
  padding: 3rem;
  border-radius: 20px;
  margin-top: 3rem;
}

.form-group button {
  color: white;
  margin-top: 30px;
  width: 7rem;
}

button > i {
  padding-right: 10px;
}

.cards {
  margin-top: 10rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.col-xs-6 {
  padding: 20px;
}

.better {
  background-color: rgb(238, 241, 247);
  border-radius: 10px;
  width: 100%;
  height: 90%;
}

.icon {
  width: 3rem;
  font-size: 30px;
  text-align: center;
  padding-top: 5px;
  color: rgba(255, 255, 255, 0.774);
}
.body {
  text-align: center;
  width: 15rem;
  font-weight: 30px;
  color: whitesmoke;
}

.col-md-4 iframe {
  width: 20rem;
  height: 20rem;
  margin-top: 2rem;
}

.chart_div {
  width: 50rem;
  height: 50rem;
}

.inline span::after {
  margin-left: 10px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
}

.inline span {
  right: 20px;
  position: absolute;
  background-color: rgb(225, 226, 228);
  padding: 0 10px;
  border-radius: 20px;
}

.inline {
  display: flex;
  margin-top: 5rem;
}

.box {
  background-color: rgb(225, 226, 228);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 5rem;
}

.box i {
  color: #95c7fa;
}

/* Logistics Movement Form */

.card {
  margin-top: -40rem;
  width: 400px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.card-header h6 {
  color: white;
  text-align: center;
}

.input-group-prepend span {
  width: 50px;
  background-color: #4788c7;
  color: whitesmoke;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.field-icon {
  right: 20px;
  color: grey;
  margin-top: 40px;
}

.proceed_btn {
  color: white;
  background-color: #4788c7;
  width: 100px;
  align-self: center;
}

.proceed_btn:hover {
  color: black;
  background-color: white;
}
/* End of Logistics Form */

/* transactions */

/* Main */

/* Mobile View */
@media screen and (max-width: 768px) {
  .main {
    width: 80%;
    top: 0;
    right: 0;
    position: absolute;
    padding-top: 20px;
  }
  .col-md-10,
  .col-md-4,
  .sidenav img,
  .change .col-xs-1,
  text {
    display: none;
  }
  .change .col-md-10,
  .mytoggler .line1,
  .mytoggler .line2,
  .mytoggler .line3,
  .change text {
    display: block;
  }
}
.change .line1 {
  -webkit-transform: rotate(-45deg) translate(3px, 2px);
  transform: rotate(-45deg) translate(3px, 2px);
}

.change .line2 {
  display: none;
}

.change .line3 {
  -webkit-transform: rotate(45deg) translate(-3px, -8px);
  transform: rotate(45deg) translate(-3px, -8px);
}
/* Mobile View */
