html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.carousel {
  position: absolute;
  top: 0;
}

.navbar {
  position: absolute;
  z-index: 10;
}

.nav-link {
  color: white !important;
  text-transform: uppercase;
}

.navbar a img {
  width: 160px;
  height: 80px;
}

.navbar ul {
  margin-left: 50%;
}

.navbar .nav-item .dropdown-menu {
  display: none;
}
.navbar .nav-item:hover .dropdown-menu {
  display: block;
}
.dropdown-menu a:hover {
  background-color: rgb(240, 240, 240);
  text-decoration: underline;
}

.navbar-nav > li {
  padding-left: 30px;
}

.active > a {
  color: black !important;
  background-color: #fff;
  /* text-decoration: underline gold; */
}

a.nav-link:hover {
  background-color: white !important;
  color: black !important;
  /* text-decoration: underline gold; */
}

.my-dropdown-toggle::after {
  content: none;
}

#carouselExampleIndicators {
  position: relative;
  height: 100vh;
  width: 100%;
}
#carouselExampleIndicators .carousel-inner {
  position: relative;
  height: 100%;
  width: 100%;
  background: #000;
}
#carouselExampleIndicators .carousel-inner:before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
#carouselExampleIndicators .carousel-inner .carousel-item {
  position: relative;
  height: 100%;
  width: 100%;
  background: url("../images/logisticsintruck.jpg");
  background-size: 100% 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2) {
  background: url("../images/veggies.jpg");
  background-size: 100% 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3) {
  background: url("../images/deliveryguy.jpg");
  background-size: 100% 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#carouselExampleIndicators .carousel-inner .carousel-item .info {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  height: auto;
  width: 100%;
  z-index: 1;
  text-align: center;
}
#carouselExampleIndicators .carousel-inner .carousel-item h1 {
  height: auto;
  color: #fff;
  width: 100%;
  z-index: 1;
  text-align: center;
  font-size: 5.5em;
  font-weight: 750;
}
#carouselExampleIndicators .carousel-inner .carousel-item p {
  height: auto;
  color: #fff;
  width: 100%;
  z-index: 1;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
}

.newBanner {
  background: url(../images/julian-hochgesang.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 30rem;
  background-color: rgba(10, 10, 10, 0.342);
}

.message2 {
  padding: 10rem 5rem;
  color: #4788c7;
  align-items: center;
  justify-content: center;
}

.info > a {
  background-color: rgb(0, 0, 0);
  color: white;
}
.info > a:hover {
  background-color: #343a40;
  color: white;
}

.icons {
  background: rgb(255, 255, 255);
  position: relative;
  width: 50%;
  margin: 150px auto;
  margin-top: 30%;
  text-align: center;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 1;
  font-size: 50px;
  border-radius: 50px;
}
.icons a {
  color: black !important;
}
.icons a:hover {
  color: #4788c7 !important;
}

.col-md-4,
.col-md-6 {
  margin-top: 80px;
  margin-bottom: 40px;
}

.col-md-6 h1 {
  padding-top: 25%;
}

.col-md-4 img {
  height: 18rem;
}

.col-md-6 img {
  width: 100%;
}

.cards .col-md-2 {
  background-color: #4788c7;
  margin: 10px;
  height: 15rem;
  padding: 0;
  color: white;
}

.heading > h4:before,
.heading > h4:after {
  background-color: #4788c7;
  content: "";
  display: inline-block;
  height: 1.5px;
  position: relative;
  vertical-align: middle;
  width: 70%;
}

.heading > h4 {
  overflow: hidden;
  text-align: center;
}

.col-md-9 {
  margin: 0 auto;
}

.heading > h4:before {
  right: 0.5em;
  margin-left: -50%;
}

.heading > h4:after {
  left: 0.5em;
  margin-right: -50%;
}

.headCard .col-md-2 {
  margin: 20px;
  padding: 20px;
  height: 6rem;
  background-color: #fff;
  z-index: 1;
  box-shadow: 1px 10px 1px #bebebd;
  border-radius: 5px;
}

.headCard {
  margin-top: -50px;
}

.col-md-2 > hr {
  background-color: gold;
}

.circle {
  font-size: 50px;
  border-radius: 100%;
  background-color: #fff;
  color: #4788c7;
  width: 40%;
  margin: 30px auto;
}
section {
  width: 100%;
}
.col-md-4 .body {
  padding-top: 0;
}
.col-md-4 .circle {
  padding-top: 25%;
}

.convenience > h1 {
  margin-top: 3rem;
  color: white;
  line-height: 70px;
}

.convenience {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/manifest.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 20rem;
  margin: 6rem 0;
}

#layer1 {
  margin-top: -7%;
  z-index: 1;
  position: relative;
}

.page {
  background-color: rgb(221, 218, 218);
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label {
  font-weight: 600;
}
.contact-form button {
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus {
  box-shadow: none;
}

footer {
  color: #fff;
  background-color: #7ba7e9;
  margin-top: 70px;
  width: 100%;
  height: 20rem;
}
.footer-all {
  background-color: #7ba7e9;
}

footer a {
  color: white;
}
footer a:hover {
  color: #343a40;
  text-decoration: underline;
}
footer .fab {
  font-size: 20px;
  padding: 20px;
}
footer .fab:hover {
  color: #343a40;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0;
  }
  .navbar ul {
    background-color: black;
    opacity: 0.7;
  }

  .icons {
    margin-top: 90%;
    width: 80%;
  }

  .col-md-6 h1 {
    padding-top: 0;
  }
  /* Mobile fix for convenience h1 */
  .convenience > h1 {
    margin-top: 1rem;
    color: white;
    line-height: 70px;
  }
  .footer-all {
    margin-top: 0;
    padding-top: 0;
  }

  .layer1 {
    display: none;
  }

  .circle {
    width: 20%;
    border-radius: 50%;
  }
}
