 <!-- Footer -->
 <footer class="page-footer font-small pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center footer-all">
      <!-- Grid row -->
      <div class="row col-md-12 footer-row">
        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3 footer-col-1">
          <!-- Content -->
          <h4 class="text-uppercase">Errand Genie</h4>
          <h6>
            <a href="#"><i class="fas fa-question-circle"></i> Help Center</a>
          </h6>
        </div>
        <!-- Grid column -->

        <div class="col-md-4 mt-md-0 mt-3 footer-col-2">
          <!-- Links -->
          <h5 class="text-uppercase">Company</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Home</a>
            </li>
            <li>
              <a href="#!">About</a>
            </li>
            <li>
              <a href="#!">Contact Us</a>
            </li>
            <li>
              <a href="#!">Regions</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3 footer-col-3">
          <!-- Links -->
          <h5 class="text-uppercase">Services</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Logistics Movement</a>
            </li>
            <li>
              <a href="#!">Errands</a>
            </li>
            <li>
              <a href="#!">Food Delivery</a>
            </li>
            <li>
              <a href="#!">Dispatch Riders</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
      <!-- Grid row -->
    </div>
    <!-- Social Media -->
    <div class="social">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
    <!-- Social Media -->
    
    <!-- Copyright -->
    <div class="footer-copyright">
      <small>© 2020 Copyright:
      <a href="#"> ErrandGenie</a><small>
    </div>
    <!-- Copyright -->
    </div>
    <!-- Footer div -->
  </footer>
  <!-- Footer -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"
  ></script>
    <script src="https://unpkg.com/scrollreveal"></script>
  <script>
    window.sr = ScrollReveal({duration: 3000});
    sr.reveal(".col-md-4 .card");
    sr.reveal(".cards .col-md-2");
  </script>
  <script
    src="https://kit.fontawesome.com/e1442cffb3.js"
    crossorigin="anonymous"
  ></script>
</body>
</html>
