html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.carousel {
  position: absolute;
  top: 0;
}

.navbar {
  position: absolute;
  z-index: 10;
}

.nav-link {
  color: white !important;
  text-transform: uppercase;
}

.navbar a img {
  width: 160px;
  height: 80px;
}

.navbar ul {
  margin-left: 50%;
}

.navbar .nav-item .dropdown-menu {
  display: none;
}
.navbar .nav-item:hover .dropdown-menu {
  display: block;
}

.navbar-nav > li {
  padding-left: 30px;
}

.active > a {
  color: gold !important;
  text-decoration: underline gold;
}

a.nav-link:hover {
  color: gold !important;
  text-decoration: underline gold;
}

#carouselExampleIndicators {
  position: relative;
  height: 100vh;
  width: 100%;
}
#carouselExampleIndicators .carousel-inner {
  position: relative;
  height: 100%;
  width: 100%;
  background: #000;
}
#carouselExampleIndicators .carousel-inner:before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
#carouselExampleIndicators .carousel-inner .carousel-item {
  position: relative;
  height: 100%;
  width: 100%;
  background: url("./img/logisticsintruck.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2) {
  background: url("./img/veggies.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3) {
  background: url("./img/deliveryguy.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
}

#carouselExampleIndicators .carousel-inner .carousel-item .info {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  height: auto;
  width: 100%;
  z-index: 1;
  text-align: center;
}
#carouselExampleIndicators .carousel-inner .carousel-item h1 {
  height: auto;
  color: #fff;
  width: 100%;
  z-index: 1;
  text-align: center;
  font-size: 5.5em;
  font-weight: 750;
}
#carouselExampleIndicators .carousel-inner .carousel-item p {
  height: auto;
  color: #ccc;
  width: 100%;
  z-index: 1;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
}

.bg-black {
  background-color: rgba(141, 138, 140, 0.65);
}

.icons {
  background: rgb(255, 255, 255);
  position: relative;
  width: 50%;
  margin: 150px auto;
  margin-top: 30%;
  text-align: center;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 1;
  font-size: 50px;
  border-radius: 50px;
}

.col-md-4,
.col-md-6 {
  margin-top: 80px;
  margin-bottom: 40px;
}

.col-md-6 h1 {
  padding-top: 25%;
}

.col-md-4 img {
  height: 18rem;
}

.col-md-6 img {
  width: 100%;
}

.circle {
  font-size: 7rem;
}
section {
  width: 100%;
}

footer {
  color: #fff;
  background-color: #000;
  margin-top: 40px;
  width: 100%;
}

footer a {
  color: white;
}

footer .fab {
  font-size: 20px;
  padding: 20px;
}

@media screen and (max-width: 780px) {
  .navbar {
    padding: 0;
  }
  .navbar ul {
    background-color: black;
    opacity: 0.7;
  }

  .icons {
    margin-top: 90%;
    width: 80%;
  }

  .col-md-6 h1 {
    padding-top: 0;
  }
}
