<%- include("partials/pagesHeader") -%>
<!-- Main Body -->
<main>
  <div class="container main">
    <div class="row">
      <div class="col-md-8">
        <!-- Heading -->
        <h3>Logistics Movement</h3>
        <hr />
        <!-- End of Heading  -->
        <div class="background">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7926.810847690561!2d0.46820879999999243!3d6.5964301!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sgh!4v1604588580858!5m2!1sen!2sgh"
            width="689.45"
            height="719.45"
            frameborder="0"
            style="border: 0"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe>
          <!--End of iframe-->

          <div class="d-flex justify-content-center">
            <div class="card">
              <div class="card-header">
                <h6>Details for Logistics Movement</h6>
              </div>
              <div class="card-body">
                <form>
                  <div class="card-body">
                    <form>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="fas fa-map-marker-alt"></i
                          ></span>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Pick-up Location"
                          required
                        />
                      </div>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="fas fa-calendar-alt"></i
                          ></span>
                        </div>
                        <input
                          type="date"
                          class="form-control"
                          placeholder="Pick-up Date"
                          required
                        />
                      </div>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="far fa-clock"></i
                          ></span>
                        </div>
                        <input
                          type="time"
                          class="form-control"
                          placeholder="Pick-up Time"
                          required
                        />
                      </div>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-map-marker-alt"></i>
                          </span>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Destination"
                          required
                        />
                      </div>
                      <!-- <div class="input-group form-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-suitcase-rolling"></i></span>
                        </div>
                        <input type="number" class="form-control" placeholder="Number of luggages/items" required />
                      </div> -->
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="fas fa-suitcase-rolling"></i
                          ></span>
                        </div>

                        <select
                          class="form-control"
                          name="type of goods"
                          id="goods type"
                        >
                          <option class="form-control" value="alone">
                            --- Choose type of goods ---
                          </option>
                          <option class="form-control" value="1">Food</option>
                          <option class="form-control" value="2">
                            Office items
                          </option>
                          <option class="form-control" value="3">
                            Market goods
                          </option>
                          <option class="form-control" value="4">
                            General goods
                          </option>
                        </select>
                      </div>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="fas fa-suitcase-rolling"></i
                          ></span>
                        </div>
                        <select
                          class="form-control"
                          name="amount of goods"
                          id="goods amount"
                        >
                          <option value="alone">
                            --- Estimated amount of goods ---
                          </option>
                          <option value="1">Mahama-Can-Do</option>
                          <option value="1">A small car will do</option>
                          <option value="2">A pick-up will do</option>
                          <option value="3">A KIA truck will do</option>
                          <option value="4">15-seater bus</option>
                          <option value="5">Other</option>
                        </select>
                      </div>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="fas fa-users"></i
                          ></span>
                        </div>
                        <select
                          class="form-control"
                          name="ride with others"
                          id="share ride"
                        >
                          <option value="alone">
                            Care to move your items in a group?
                          </option>
                          <option value="1">Group of one other</option>
                          <option value="1">Group of two others</option>
                          <option value="2">Group of three others</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <input
                          type="submit"
                          value="Proceed"
                          class="btn proceed_btn"
                        />
                      </div>
                    </form>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!--End of background div-->
      </div>
      <!--End of col-md-8-->

      <!-- Second Column -->
      <div class="col-md-4">
        <div class="better">
          <!-- Calender -->
          <iframe
            src="https://calendar.google.com/calendar/embed?src=v9c0f7n1nojmhntus0ms9oqs18%40group.calendar.google.com&ctz=Africa%2FAccra"
            style="border: 0"
            width="800"
            height="600"
            frameborder="0"
            scrolling="no"
          ></iframe>
          <!-- New Tasks -->
          <div class="inline">
            <h4>Your Tasks</h4>
            <span>View All</span>
          </div>
          <!--End of inline div-->
          <div class="box">
            <h6>You don't have any Task</h6>
            <span><i class="fas fa-clock"></i> 11/3/2020 2:56 PM</span>
          </div>
          <!--End of box div-->

          <!--Div that will hold the pie chart-->
          <div id="chart_div" style="margin-top: 0"></div>
        </div>
        <!--End of better-->
      </div>
      <!--End of col-md-4-->
    </div>
    <!--End of row -->
  </div>
  <!--End of container main-->
</main>

<!-- Main Body -->

<%- include("partials/pagesFooter") -%>
