<%- include("partials/header") -%>


    <a href="/"
      ><button class="btn btn-sm btn-primary back-btn"><i class="fa fa-home" aria-hidden="true"></i> Home</button></a
    >
    <div class="container">
      <div class="d-flex justify-content-center h-100">
        <div class="card">
          <div class="card-header">
            <h3>Sign Up</h3>
          </div>
           <% if(error && error.length > 0) { %>
       <div class="alert alert-danger"><p><%=error %></p></div>
     <% } %>
     
     <% if(success && success.length > 0) { %>
       <div class="alert alert-success"><p><%= success %></p></div>
     <% } %>
          <div class="card-body">
            <form action="/register" method="POST">
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input type="text" name="username" class="form-control" placeholder="username" required autofocus />
              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-envelope"></i></span>
                </div>
                <input type="email" name="email" class="form-control" placeholder="email" required />
              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-key"></i></span>
                </div>
                <span id="password-field" class="fa fa-fw fa-eye field-icon toggle-password position-absolute"></span>
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  placeholder="password"
                  id="password"
                  required
                />
              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="confirm password"
                id="confirm_password" required  />
              </div>
              <div class="row align-items-center remember"><input type="checkbox" />Remember Me</div>
              <div class="form-group">
                <input type="submit" value="Sign up" class="btn float-right login_btn" />
              </div>
              <div class="container">
                <h6><span>Or</span></h6>
                <button class="btn bg-blue">
                  <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
                  Sign Up with Facebook
                </button>
                <a class="btn bg-orange btn-social btn-google" href="/auth/google" role="button" style="width: 198.86px">
                  <span><i class="fa fa-google" aria-hidden="true"></i></span>
                  Sign Up with Google
                </a>
                <button class="btn btn-primary" style="width: 198.86px">
                  <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
                  Sign up with Twitter
                </button>
              </div>
            </form>
          </div>
          <div class="card-footer space">
            <div class="d-flex justify-content-center links">
              Already have an account?<a href="/login">Sign In</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/sign.js"></script>
    <script src="https://kit.fontawesome.com/e1442cffb3.js" crossorigin="anonymous"></script>
  </body>
</html>
