<%- include("partials/pagesHeader") -%>

<!-- Main Body -->
<main>
  <div class="container main">
    <div class="row">
      <div class="row cards">
        <div class="col-md-2">
          <div class="row flex-nowrap">
            <div class="icon" style="background-color: rgb(1, 100, 100)">
              <i class="fas fa-tags"></i>
            </div>
            <!--End of icon div-->
            <div class="body" style="background-color: teal">
              <p>Total Orders</p>

              <h6>0</h6>
            </div>
            <!--End of body div-->
          </div>
          <!--End of nowrap row-->
        </div>
        <!--end of first col-xs-6-->
        <div class="col-md-2">
          <div class="row flex-nowrap">
            <div class="icon" style="background-color: rgb(214, 61, 5)">
              <i class="fas fa-truck-loading"></i>
            </div>
            <!--End of icon div-->
            <div class="body" style="background-color: orangered">
              <p>Total Movement</p>
              <h6>0</h6>
            </div>
            <!--End of body div-->
          </div>
          <!--End of nowrap row-->
        </div>
        <!--end of second col-xs-6-->
        <div class="col-md-2">
          <div class="row flex-nowrap">
            <div class="icon" style="background-color: rgb(211, 141, 12)">
              <i class="fas fa-shopping-basket"></i>
            </div>
            <!--End of icon div-->
            <div class="body" style="background-color: orange">
              <p>Total Errands</p>
              <h6>0</h6>
            </div>
            <!--End of body div-->
          </div>
          <!--End of nowrap row-->
        </div>
        <!--End of third col-xs-6-->
        <div class="col-md-2">
          <div class="row flex-nowrap">
            <div class="icon" style="background-color: rgb(78, 4, 253)">
              <i class="fas fa-biking"></i>
            </div>
            <!--End of icon div-->
            <div class="body" style="background-color: rgb(137, 105, 252)">
              <p>Total Delivery</p>
              <h6>0</h6>
            </div>
            <!--End of body div-->
          </div>
          <!--End of nowrap row-->
        </div>
        <!--End of col-xs-6-->
      </div>
    </div>
    <!--End of row -->
  </div>
  <!--End of container main-->
</main>

<!-- Main Body -->

<%- include("partials/pagesFooter") -%>
